.article{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    justify-content: top;
}

h1{
    /* background-color: blue; */
    text-align: center;
}
h3{
    text-align: left;
    color: rgb(249, 230, 230);
}

.link-container h3:hover{
    background-color: #4366F5;
    padding: 20px;
}

#article a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* #inlineFrame{ */
    /* border: 2px solid rgb(80, 255, 249); */
    /* margin-bottom: 10px; */
/* } */