article{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* text-align: center; */
    justify-content: top;
    border: 2px solid rgb(80, 255, 249);
}
ol{
    text-align: left;
    background-color: black;
}
h1{
    
    color: rgb(25, 222, 222);
    text-align: center;
}
h3{
    color: rgb(25, 222, 222);
}
article a{
    text-decoration: none;
}
#inlineFrame{
    border: 2px solid rgb(80, 255, 249);
    margin: 5px;
}