.articles{
    background: aqua;
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-auto-rows: 1fr;
    /* margin: 15px; */
    /* padding: 10px; */
    overflow: auto;   
}
.Articles{
    text-align: center;

}
.article{
    margin: 5px;
    padding:10px;
    background: black;
    border: 2px solid black;
    align-items: center;
}
.article h4{
    text-align: center;
}
.article iframe{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
p{
    font-weight: 500;
}
#inlineFrameExample{
    margin: 5px;
}
h2 {
    color: aqua;
}
h2:hover{
    color: rgb(239, 178, 135);
}