#article{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: top;
    border: 2px solid rgb(80, 255, 249);
}
ol{
    text-align: left;
    background-color: black;
}
h1{
    background-color: blue;
    color: rgb(25, 222, 222);
    text-align: center;
}
h3{
    color: rgb(25, 222, 222);
}
h3:hover{
    color: orange;
}
/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
#article a{
    text-decoration: none;
}
#inlineFrame{
    border: 2px solid rgb(80, 255, 249);
    /* margin-bottom: 10px; */
}