.articles{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-auto-rows: 1fr;
    gap: 5px;
    overflow: auto;
    margin: 0 auto;   
}
.Articles{
    text-align: center;

}
.article{
    padding:20px;
    background: rgb(60, 59, 59);
    border: 2px solid black;
    align-items: center;
    /* border: 4px solid aqua; */
}
.article h3{
    text-align: center;
}
.article iframe{
    /* margin-bottom: 10px; */
    padding-bottom: 10px;
    margin: 10px;
}
p{
    font-weight: 500;
}
#inlineFrameExample{
    margin: 5px;
}
h3 {
    color: aqua;
}

/* .hvr-grow {
    text-decoration: none;
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
} */ 