.articles{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-auto-rows: 1fr;
    gap: 5px;
    overflow: auto;
    margin: 0 auto;   
}
.Articles{
    text-align: center;
    background-color: black;
    background: linear-gradient(#4366F5, rgb(66, 157, 157));
    
}
.Articles h1{
    background-color: black;
    justify-content: center;
    padding-bottom: 20px;
 
}
.article{
    padding:20px;
    align-items: center;
    /* border: 4px solid aqua; */
    background-color: black;
    background: linear-gradient(black, #4366F5, rgb(66, 157, 157));
    border: 1px solid rgb(202, 106, 106);

}
.article h3{
    text-align: center;
    padding: 5px;
    transition: .66s;
}
.article h3:hover{
    background-color: white;
    color: #4366F5;
    padding: 5px;
    /* border: 2px solid rgb(202, 106, 106) */
    filter: drop-shadow(0px 5px 5px rgb(202, 106, 106));

}
.article iframe{
    /* margin-bottom: 10px; */
    filter: drop-shadow(0px 10px 10px rgb(202, 106, 106));

    padding-bottom: 10px;
    margin: 10px;
}
p{
    font-weight: 500;
}
#inlineFrameExample{
    margin: 5px;
}
h3 {
    color: aqua;
}

