#chartContainer {
    display: grid;
}

header {
    text-align: center;
}

/* #chatbot {
    background-color: lightgrey;
    height: 200px;
    text-align: center;
} */

#chatbot img {
    width: 30%;
    margin: 10px;
}

#chart-coins-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 80%;
    /* grid-template-rows: 1fr 1fr; */
}

#chart-widget {
    background-color:  #4366F5;
    /* height: 300px; */
    text-align: center;
    /* color: orange; */
    padding: 20px;
}

#chart {
    background-color: white;
    /* margin: 5px; */
}

#chart img {
    height: auto;
    width: 65%;
}

#top-coins {
    background-color:  #4366F5;
    /* height: 200px; */
    text-align: center;
    padding: 20px 5px;
}

#coins-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#coin {
    background-color: navy;
    color: orange;
    padding: 5px;
    margin: 5px;
}