a {
    text-decoration: none;
}

#nav{
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: center;
    padding: 0 1em;
    /* width: 100%;
    margin: 0 auto; */
}

#nav a{
    text-decoration: none;
    color:blue;
}

#navbar-logo {
    height: 75px;
}
