#nav{
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: center;
    padding: 0 1em;
}
#nav a{
    text-decoration: none;
    color:blue;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }