.News {
    text-align: center;
    color: white;
}

.news-dropdown {
    text-align: left;
    background-color: #666;
    padding: 10px;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    margin: 0 auto; 
    gap: 5px;
    /* grid-row-gap: 15px; */
}

.news-container article {
    margin: 5px;
    display: grid;
}

.news-image {
    width: 50%;
}
h2 { 
    color: aqua;
 }
 .hvr-grow {
     text-align: center;
 }
 .hvr-grow h3{
    background-color: white;
    color: #4366F5;
    padding: 5px;
 }