.News {
    text-align: center;
    color: blue;
}

.news-dropdown {
    text-align: left;
    background-color: #666;
    padding: 10px;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    margin: 0 auto; 
    gap: 5px;
    /* grid-row-gap: 15px; */
}

.article-preview {
    background-color: black;
}

.news-container article {
    margin: 5px;
    display: grid;
}

.news-image {
    width: 50%;
}
h2 { 
    color: aqua;
 }