.vids{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin: 0 auto; 
}
.vid-container{
    display: grid;
    justify-content: center;
    padding: 20px;
    /* overflow:visible; */

}
.Videos{
    text-align: center;
    
}
.vid h3{
    text-align: center;
}
ul{
    padding: 0px 20px;
    /* margin: 20px; */
}

.vid h3:hover{
    /* color:orange; */
    background-color: white;
    color: #4366F5;
    padding: 5px;
}
.links h3{
    text-transform: uppercase;
    letter-spacing: 5px;
}
.links h3:hover {
    background-color: #4366F5;
    padding: 25px;
    text-transform: uppercase;
}
.vid{
    background: linear-gradient(#4366F5, rgb(66, 157, 157));
    border: 1px solid #4366F5;
    padding: 10px
}
.video-container h1{
    text-align: center;
    /* background-color: #3857d3; */
    padding: 5px 0px;
}

/* .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
} */