
body{
    /* background: rgb(29, 28, 30); */
    /* background: #1c1c1c; */
    /* background: #1c1c1c; */
    width: 100%;
    margin: 0 auto;
    height: auto;
    color: whitesmoke;
}

#market-container{
    padding: 25px 75px;
}
  
 
body{
    background:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#bot{
    background:blue;
}

#home{
    background: #4366F5;;
}
#footer{
    /* background-color:  #2f51dc; */
    height: 100px;
    border: 1px solid rgb(202, 106, 106);
    background-color: black;
    /* background: linear-gradient( #4366F5, rgb(71, 56, 56)); */
}
