#nav{
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: center;
    padding: 0 1em;
}
#nav a{
    text-decoration: none;
    color:blue;
}
body{
    background: black;
}
#bot{
    background:blue;
}
.articles{
    background: grey;
}
.Videos{
    background: grey;
}
#home{
    background: grey;
}
.news-articles{
    background: grey;
}
#Education h1{
    color:aqua;
}